@charset "UTF-8";

body{
    background-color: rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(0, 88, 0);
}
h1#principal {
    font: normal 2em;
    color: rgb(0, 88, 0);
    text-align: center;
}
.basic {
    color: green;
}
.medium {
    color: rgb(80, 80, 255);
}
.advanced {
    color: rgb(221, 2, 2);
}