@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(../fonts/idroid.otf) format("opentype");
}
@font-face {
    font-family: "bebas";
    src: url(../fonts/BebasNeue-Regular.ttf) format("truetype"); 
}
:root {
    --cor1: #3CD781;
    --cor2: #134429;
    --cor3: #84E1AD;
    --cor4: #000000;
    --cor5: #ffffff;
    --cor6: #C5EBD6;

}
body {
    font-family: sans-serif;
    color: var(--cor4);
    background-color: var(--cor3);
   margin: 0px;
}
header {
    font-family: sans-serif;
    background-image: linear-gradient(180deg, #3CD781, #134429);
    color: var(--cor5);
    padding: 25px 40px 10px 40px;
    margin: auto;  
}
header > p {
    padding: 20px 5px 40px 5px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}
header > h1 {
    font: 3em "bebas";
    margin: auto;
    text-align: center;
}
nav.menu {
    min-height: 375;
    max-width: 900px;
}
a.menu {
    font-weight: bold;
    margin-right: 11px;
    padding: 4px;
    border-radius: 4px;
    color: var(--cor5);
    text-decoration: none;
}
a.menu:hover {
    background-color: #2a8d576e;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
    transition-duration: .5s;
}
a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: 700;
}
/*
.link_externo::after {      *atribuição de links externos
    content: '1F517';
}*/
main {
    background-color: var(--cor5);
    min-width: 300px;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 5px 1px black;
}
img.images {
    width: 100%;
    margin: 0px -10px;
    margin: auto;
}
.img_pequena {
    max-width: 310px;
    display: block;
    margin: auto;
}
div.titulos_conteudo{
    background-image: linear-gradient(90deg, #84e1ac98, #ffffff);
    font-family: "idroid";
    color: var(--cor2);
    margin: 10px;
}
div.conteudo {
    text-indent: 30px;
    line-height: 1.8em;
    margin: 0px 10px;
}
div.video {
    background-color: var(--cor2);
    min-width: 300px;
    max-width: 1030px;
    margin: 10px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 44.7%;
    position: relative;
    
}
div.video > iframe {
    position: absolute;
    top: 6.5%;
    left: 15%;
    width: 70%;
    height: 87%;
}
aside.extra {
    background-color: var(--cor6);
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5px;
}
#titulo_extra {
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
div.lista > ul {
    list-style-position: inside;
    columns: 2;
    padding: 3px;
}
footer {
    font-size: small;
    background-color: var(--cor2);
    color: var(--cor5);
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding: 1px;
}
footer > p {
    margin: 1px;
}
#criador {
    text-decoration: none;
    color: var(--cor5);
}
